[Unit]
Description=Python script to send RuuviTag data
After=bluetooth.target
Wants=bluetooth.target

[Service]
Type=simple
User=ansible
WorkingDirectory=/home/ansible/
Environment="RUUVI_API_KEY={{ api_key }}"
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python3 /home/ansible/ruuvaa.py
Restart=always

[Install]
WantedBy=multi-user.target
